.hexa-container {
  margin:auto 0 ; ;
  display: flex;
  flex-wrap: wrap
}

.hexa-container .hexaArea {
  font-size: 10px;
  color: black;
}
.last{
  transform: translateY(31px);
}
.hexa {
  position: relative;
  width: 60px;
  height: 55px;
  margin: 8px -4px;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  background: linear-gradient(to bottom, rgba(255, 254, 254, 0.15) 0%, rgba(231, 138, 38, 0.991) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(235, 8, 8, 0.4) 120%) #989898;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: 0.1s;
}
.hexa:hover {
  background-color: var(--btn-color);
  transform: scale(0.9);
  color:white;
  font-weight: 600;
  font-size: 10px;
  transition: 0.1s;
}